  /* CSS grid thing, I guess */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-template-rows: masonry;
}

.grid-tracks {
  display: grid;
  grid-template-columns: auto auto ;
  grid-template-rows: 1fr;
}
#cover { display: grid; }
#tracklist { display: grid; }

#player {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.album {
  display: grid;
}

.track-playing { font-weight: bold; }
.track-play { cursor: pointer; }
