  /* CSS grid thing, I guess */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: masonry;
}

.grid-tracks {
  display: grid;
  grid-template-columns: auto auto ;
  grid-template-rows: 1fr;
}
#cover { display: grid; }
#tracklist { display: grid; }

#my-player {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.album {
  display: grid;
  min-width: 350px;
  min-height: 350px;
  max-width: 400px;
  max-height: 400px;
  object-fit: fill;
  aspect-ratio: 1/1;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.track-playing { font-weight: bold; }
.track-play { cursor: pointer; }
